<section class="container">
    <div>
        <p>
        <label class="labelText">{{localize 'riptsLang.characters.information.name'}}: </label>
        <label class="valueText">{{data.name}}</label>
        </p>
        <p>
        <label class="labelText">{{localize 'riptsLang.characters.information.species'}}: </label>
        <label class="valueText">{{data.species}}</label>
        </p>
        <p>
        <label class="labelText">{{localize 'riptsLang.characters.information.homeworld_name'}}: </label>
        <label class="valueText">{{data.homeworld.name}}</label>
        </p>
        <p>
        <label class="labelText">{{localize 'riptsLang.characters.information.look'}}: </label>
        <label class="valueText">{{data.look}}</label>
        </p>
    </div>
</section>